# Environment & Secrets
.env

# Logs & Audits
*.log

# Build Artifacts
main.wasm
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/

# Project Documentation (Local Only)
To_Do.md
App_Flow.md
A.I_memory*
ai_exclude

# OS Junk
.DS_Store
Thumbs.db